:root {
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --backgruond-color: #ffffff;
  --footer-bg-color: #2f303a;
}
ul {
  list-style: none;
}

body {
  background-color: var(--backgruond-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.section {
  color: var(--text-color);
}
.section-title {
  color: var(--title-color);
}

/* Logo  */
.logo {
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  font-style: normal;
}
.accent-web {
  color: #2196f3;
}
.accent-studio {
  color: #000000;
}

.site-nav {
  color: var(--title-color);
}
.nav {
  color: var(--title-color);
}

.site-nav .nav:focus,
.site-nav .nav:hover,
.site-nav .nav.current {
  color: var(--accent-color);
}
/* студия */
.studio {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/*Портфолио*/
.portfolio {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.current-p {
  color: var(--accent-color);
}

/* Контакты навигации */
.cont {
  font-weight: 500;

  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* contacts */
.contacts {
  color: var(--text-color);
}
.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}
.mail {
  font-weight: 500;

  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.tel {
  font-weight: 500;

  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* Hero tittle */
.hero-tittle {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--backgruond-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.bg-hero {
  background-color: var(--footer-bg-color);
}
.hero-button {
  color: var(--backgruond-color);
  background-color: var(--accent-color);
}

/* О нас */

.tittle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.text {
  line-height: 1.71;
}

/* Чем занимаемся */
.work {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* Команда*/
.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.description-team {
  font-size: 16px;
  line-height: 1.18;
}

/* Footer */
.bg-footer {
  background-color: #2f303a;
}
.web-footer {
  color: #2196f3;
}
.studio-footer {
  color: var(--backgruond-color);
}
.adress {
  line-height: 1.7;
  text-decoration: none;
  font-style: normal;
  color: var(--backgruond-color);
}
.mail-tel {
  line-height: 1.7;
  text-decoration: none;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

/* Страница Портфолио */

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.8;
}

/* Навигация Портфолио */

.text-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f5f4fa;
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.contacts-portfolio:hover,
.contacts-portfolio:focus {
  background-color: var(--accent-color);
}
.text-color-button:hover,
.text-color-button:focus {
  color: var(--backgruond-color);
}
